/* common */
* {margin:0;padding:0;}

body {padding:0;font-family:"맑은고딕", "Malgun Gothic", 돋움, Dotum , sans-serif;color:#3e4549; font-size:12px; background:#fff;}
h2 {margin:0 0 10px;}
p {padding:5px 0 10px;}
a {color:#000;text-decoration:none;cursor:pointer;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
li	{list-style:none;}

table {border-collapse:collapse;border-spacing:0;empty-cells:show;}
caption {font-weight:bold;text-align:left;}

.process .header{position:fixed; top:0; left:0; width:100%; background:#000; z-index:10;}
.process .header h1{font-family:"맑은고딕", "Malgun Gothic", 돋움, Dotum , sans-serif;font-size:16px;font-weight:normal;padding:15px 30px;color:#fff;}

.process .article{position:relative; padding:80px 30px; }
.process .article .article_header{ position:relative; margin:10px 0; font-weight:bold;}
.process .article .article_header h2{ font-size: 14px; }
.process .article .article_header p{ position: absolute; top:-5px; right:0; }

.process table{width:100%; margin:0 auto 30px; border-collapse:collapse; table-layout: fixed;}
.process table th, .process table td{padding:5px 2px 5px;}
.process table thead th{background: #ddd;;color:#434856;border-top:1px solid #999;border-bottom:2px solid #999;border-right:1px solid #999;}
.process table thead tr > th:first-child{border-left:1px solid #999;}
.process table th{color:#FFF;font-size:1em;line-height:1.5em;}
.process table td{color: #666;height:1.5em;font-size:1em;line-height:1.8em;white-space:nowrap;border-bottom:1px solid #999;border-right:1px solid #999;padding:8px 10px;}
.process table .state, .process table .date{ text-align:center;}
.process table td.ct{text-align:center;}
.process table tbody tr td:first-child{border-left:1px solid #999;}
.process table tr:hover td{background-color:#ededed;}
.process table tr.stop td{text-decoration:line-through; background:#fff1d0;}
.hidden{display:none;}

.footer{width:100%; background:#fff; border-top:1px #dcdcdc solid;}
.footer p{font-family:"맑은고딕", "Malgun Gothic", 돋움, Dotum , sans-serif;font-size:12px;font-weight:normal;padding:15px 30px;color:#333;text-align: right;}